  <div id="sliderHolder">
    <div id="features">
        <img class="slider-image" src="static/images/feature/campbiscoheader.jpg" />
        <span class="slider-title">
          <b>Zoogma to play this years camp bisco</b>
        </span>
    </div>
  </div>

