<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>zoogma.net</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!--[if IE 6]>

<link href="/css/ie6.css" rel="stylesheet" type="text/css" />

<![endif]-->

<!-- Stylesheet includes -->
<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/css/coin-slider-styles.css" />
<link rel="stylesheet" type="text/css" href="/static/css/sc-player-standard.css" />

<link href='http://fonts.googleapis.com/css?family=Iceberg' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>

<!-- Javascript includes -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/lib/path.min.js"></script>
<script type="text/javascript" src="/static/js/router.js"></script>
<script type="text/javascript" src="/static/js/coin-slider/coin-slider.js"></script>
<script type="text/javascript" src="/static/js/lib/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="/static/js/sc/soundcloud.player.api.js"></script>
<script type="text/javascript" src="/static/js/sc/sc-player.js"></script>

<script type="text/javascript">

var setupAudioPlayer = function(){
 
  // Create player
  $('#audio-player #player').scPlayer({
    links: [{url: "http://soundcloud.com/zoogma", title: "Zoogma's SoundCloud"}]
  });

  // Create next/prev buttons
  $('.sc-player .sc-controls').prepend('<a href="#prev" class="sc-prev">Previous</a>');
  $('.sc-player .sc-controls').append('<a href="#next" class="sc-next">Next</a>');

  // Functionality to execute once player loads
  $(document).bind('onPlayerInit.scPlayer', function(event){

    // Get a reference to the tracklist
    var tracklist = $('.sc-trackslist');

    // Bind prev functionality
    $('.sc-prev').click(function(){
      var cur_active = tracklist.find('.active');
      var new_active = cur_active.prev();
      if(new_active.length == 0){
        new_active = tracklist.find('li').last();
      }
      cur_active.removeClass('active');
      new_active.addClass('active').trigger('click'); 
      $('.sc-play').trigger('click');
    });

    // Bind next functionality
    $('.sc-next').click(function(){
      var cur_active = tracklist.find('.active');
      var new_active = cur_active.next();
      if(new_active.length == 0){
        new_active = tracklist.find('li').first();
      }
      cur_active.removeClass('active');
      new_active.addClass('active').trigger('click'); 
      $('.sc-play').trigger('click');
    });
  });

};

$(document).ready(function(){
    // Setup audio player
    setupAudioPlayer();

    // Setup scrollbars
    $('#tourdates-content').niceScroll({
        autohidemode: false,
        disableoutline: true,
        preservenativescrolling: true
    });

    // Setup image slider
    $('#features').coinslider({ 
        hoverPause: false,
        width: 700,
        opacity: 1,
        delay: 10000
    });

    $('#social-fb').click(function() {
        document.location.href='http://www.facebook.com/zoogmaband';
        return false;
    });
    $('#social-tw').click(function() {
        document.location.href='http://twitter.com/zoogma';
        return false;
    });
    $('#social-gp').click(function() {
        document.location.href='http://www.google.com';
        return false;
    });
    $('#social-sc').click(function() {
        document.location.href='http://soundcloud.com/zoogmaband';
        return false;
    });

/*
    $('#nav-home-link').click(function() {
        $.getJSON('/home/json', function(result) {
            replaceMainContent( formatHomeContent(result) );
            $(document).trigger('ready');
    // Setup image slider
    $('#features').coinslider({ 
        hoverPause: false,
        width: 700,
        opacity: 1,
        delay: 10000
    });


        });
        return false;
    });
    */
    // Nav links
    $('#nav-home-link').click(function(){ window.location = '#/home'; });
    $('#nav-band-link').click(function(){ window.location = '#/band'; });
    $('#nav-shows-link').click(function(){ window.location = '#/shows'; });
    $('#nav-news-link').click(function(){ window.location = '#/news'; });
    $('#nav-gallery-link').click(function(){ window.location = '#/gallery'; });
    $('#nav-music-link').click(function(){ window.location = '#/music'; });
    $('#nav-store-link').click(function(){ window.location = '#/store'; });
    $('#nav-contact-link').click(function(){ window.location = '#/contact'; });
});

function formatHomeContent(jsonData) {
    alert("HERE");
    return '<div id="sliderHolder"> <div id="features"> <img class="slider-image" src="static/images/feature/campbiscoheader.jpg" /> <span class="slider-title"> <b>Zoogma to play this years camp bisco</b> </span> <div class="slider-content">Look at me!!!</div></div> </div>';

}
</script>

<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Iceberg::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); 
</script>

</head>

<body>

<div id="container">
  <!-- begin header -->
  <div id="header">
    <div id="header-filler-left"></div>
    <div id="header-main">
      <div id="header-logo"></div>
      <div id="header-nav">

        <div id="header-nav-left"></div>

        <div id="header-nav-main">
          <ul>
            <li id="nav-home-link"></li>
            <li id="nav-band-link"></li>
            <li id="nav-shows-link"></li>
            <li id="nav-news-link"></li>
            <li id="nav-gallery-link"></li>
            <li id="nav-music-link"></li>
            <li id="nav-store-link"></li>
            <li id="nav-contact-link"></li>
          </ul>
        </div>
        <div id="header-nav-right"></div>
        <div id="header-nav-right-filler" style="display:none;"></div>
      </div>
<!--
      <div id="sc-player"><a href="http://soundcloud.com/zoogma" class="non-sc-player">My latest tracks</a></div>
-->
<div id="audio-player">
  <div id="player"></div>
</div>
      <div id="social-buttons">
        <ul>
          <li id="social-sc"><a href="http://soundcloud.com/zoogma"></a></li>
          <li id="social-gp"><a href="http://www.facebook.com/zoogmaband"></a></li>
          <li id="social-tw"><a href="http://twitter.com/zoogma"></a></li>
          <li id="social-fb"><a href="http://www.facebook.com/zoogmaband"></a></li>
        </ul>
      </div>
    </div> <!-- end header main -->
    <div id="header-filler-right"></div>
  </div>
  <!-- End Header -->

  <div id="main">

    <div id="tourdates">
      <div id="tourdates-header"></div>
      <div id="tourdates-body"></div>
      <div id="tourdates-content">
        <ol>
          [% FOREACH stop IN shows %]
          <li class="tourdate">
            <span class="tourdate-info tourdate-date">[% stop.date %]</span>
            <span class="tourdate-info tourdate-venue">[% stop.venue %]</span>
            <span class="tourdate-info tourdate-city_state">[% stop.city %]</span>
          </li>
          [% END %]
        </ol>
      </div>
    </div>
    <div id="column_main">

      [%~ #content ~%]
    </div>
    <!-- Don't remove spacer div. Solve an issue about container height -->
    <div class="spacer"></div>
  </div>
  </div>
  <div id="footer">&copy Copyright 2012. ZOOGMA. All Rights Reserved</div>

</body>
</html>
