<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>zoogma.net</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!--[if IE 6]>

<link href="/css/ie6.css" rel="stylesheet" type="text/css" />

<![endif]-->

<!-- Stylesheet includes -->
<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/css/coin-slider-styles.css" />
<link rel="stylesheet" type="text/css" href="/static/css/sc-player-standard.css" />

<!-- Javascript includes -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/coin-slider/coin-slider.min.js"></script>
<script type="text/javascript" src="/static/js/lib/jquery.nicescroll.min.js"></script>

<script type="text/javascript" src="/static/js/sc/soundcloud.player.api.js"></script>
<script type="text/javascript" src="/static/js/sc/sc-player.js"></script>

<script type="text/javascript">

$(document).ready(function(){

    // Setup scrollbars
    $('#tourdates-content').niceScroll({
        autohidemode: false,
        disableoutline: true,
        preservenativescrolling: true
    });

    // Setup image slider
    $('#features').coinslider({ 
        hoverPause: false,
        width: 700
    });
    $('#nav-home-link').click(function() {
        $.getJSON('/home', function(result) {
            replaceMainContent( formatHomeContent(result) );
        });
        return false;
    });

    $('#nav-band-link').click(function() {
        $.getJSON('/band', function(result) {
            replaceMainContent( formatBandContent(result) );
        });
        return false;
    });

    $('#nav-shows-link').click(function() {
        $.getJSON('/shows', function(result) {
            replaceMainContent( formatShowsContent(result) );
        });
        return false;
    });

    $('#nav-news-link').click(function() {
        $.getJSON('/news', function(result) {
            replaceMainContent( formatNewsContent(result) );
        });
        return false;
    });

    $('#nav-gallery-link').click(function() {
        $.getJSON('/gallery', function(result) {
            replaceMainContent( formatGalleryContent(result) );
        });
        return false;
    });

    $('#nav-music-link').click(function() {
        $.getJSON('/music', function(result) {
            replaceMainContent( formatMusicContent(result) );
        });
        return false;
    });

    $('#nav-store-link').click(function() {
        $.getJSON('/store', function(result) {
            replaceMainContent( formatStoreContent(result) );
        });
        return false;
    });

    $('#nav-contact-link').click(function() {
        $.getJSON('/contact', function(result) {
            replaceMainContent( formatContactContent(result) );
        });
        return false;
    });
});

function replaceMainContent(innerContent) {
    $('#column_main').fadeOut('slow', function() {
        // Animation complete.
        // Start the new column_main element
        var content = "<div id='column_main'>";
    
        content += innerContent;

        // Closing out the column_main element
        content += "</div>";

        $('#column_main').replaceWith(content);

        $('#column_main').fadeIn('slow', function() {
            // Animation complete.
        });
    });

}
function formatBandContent(jsonData) {
    return "<div stlye='background=red'>HERE WE ARE</div>";
}
function formatBandContent(jsonData) {
    return "<div stlye='background=red'>HERE WE ARE</div>";
}
function formatShowsContent(jsonData) {
    return "<div stlye='background=red'>HERE WE ARE</div>";
}
function formatNewsContent(jsonData) {
    return "<div stlye='background=red'>HERE WE ARE</div>";
}
function formatGalleryContent(jsonData) {
    return "<div stlye='background=red'>HERE WE ARE</div>";
}
function formatMusicContent(jsonData) {
    return "<div stlye='background=red'>HERE WE ARE</div>";
}
function formatStoreContent(jsonData) {
    return "<div stlye='background=red'>HERE WE ARE</div>";
}
function formatContactContent(jsonData) {
    return "<div stlye='background=red'>HERE WE ARE</div>";
}
</script>

</head>

<body>

<div id="container">
  <!-- begin header -->
  <div id="header">
    <div id="header-logo"></div>
    <div id="header-nav">

      <div id="header-nav-left"></div>

      <div id="header-nav-main">
        <ul>
          <li id="nav-home-link"></li>
          <li id="nav-band-link"></li>
          <li id="nav-shows-link"></li>
          <li id="nav-news-link"></li>
          <li id="nav-gallery-link"></li>
          <li id="nav-music-link"></li>
          <li id="nav-store-link"></li>
          <li id="nav-contact-link"></li>
        </ul>
      </div>
      <div id="header-nav-right"></div>
    </div>

    <div id="social-buttons">
      <ul>
        <li id="social-sc"><a href="http://soundcloud.com/zoogma"></a></li>
        <li id="social-gp"><a href="http://www.facebook.com/zoogmaband"></a></li>
        <li id="social-tw"><a href="http://twitter.com/zoogma"></a></li>
        <li id="social-fb"><a href="http://www.facebook.com/zoogmaband"></a></li>
        <li id="sc-player"><a href="http://soundcloud.com/zoogma" class="sc-player">My latest tracks</a></li>
      </ul>
    </div>

  </div>
  <!-- End Header -->

  <div id="main">

    <div id="tourdates">
      <div id="tourdates-header"></div>
      <div id="tourdates-body"></div>
      <div id="tourdates-content">
        <ol>
          [% FOREACH stop IN shows %]
          <li class="tourdate">
            <span class="tourdate-info tourdate-date">[% stop.date %]</span>
            <span class="tourdate-info tourdate-venue">[% stop.venue %]</span>
            <span class="tourdate-info tourdate-city_state">[% stop.city %]</span>
          </li>
          [% END %]
          <!-- tourdates are repeated for filler -->
          [% FOREACH stop IN shows %]
          <li class="tourdate">
            <span class="tourdate-info tourdate-date">[% stop.date %]</span>
            <span class="tourdate-info tourdate-venue">[% stop.venue %]</span>
            <span class="tourdate-info tourdate-city_state">[% stop.city %]</span>
          </li>
          [% END %]
          [% FOREACH stop IN shows %]
          <li class="tourdate">
            <span class="tourdate-info tourdate-date">[% stop.date %]</span>
            <span class="tourdate-info tourdate-venue">[% stop.venue %]</span>
            <span class="tourdate-info tourdate-city_state">[% stop.city %]</span>
          </li>
          [% END %]
          [% FOREACH stop IN shows %]
          <li class="tourdate">
            <span class="tourdate-info tourdate-date">[% stop.date %]</span>
            <span class="tourdate-info tourdate-venue">[% stop.venue %]</span>
            <span class="tourdate-info tourdate-city_state">[% stop.city %]</span>
          </li>
          [% END %]
          [% FOREACH stop IN shows %]
          <li class="tourdate">
            <span class="tourdate-info tourdate-date">[% stop.date %]</span>
            <span class="tourdate-info tourdate-venue">[% stop.venue %]</span>
            <span class="tourdate-info tourdate-city_state">[% stop.city %]</span>
          </li>
          [% END %]
          [% FOREACH stop IN shows %]
          <li class="tourdate">
            <span class="tourdate-info tourdate-date">[% stop.date %]</span>
            <span class="tourdate-info tourdate-venue">[% stop.venue %]</span>
            <span class="tourdate-info tourdate-city_state">[% stop.city %]</span>
          </li>
          [% END %]
        </ol>
      </div>
    </div>
    <div id="column_main">

      [%~ content ~%]
    </div>
    <!-- Don't remove spacer div. Solve an issue about container height -->
    <div class="spacer"></div>
  </div>
  </div>

</body>
</html>
