<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>zoogma.net</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!--[if IE 6]>

<link href="/css/ie6.css" rel="stylesheet" type="text/css" />

<![endif]-->

<!-- Stylesheet includes -->
<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/css/coin-slider-styles.css" />
<link rel="stylesheet" type="text/css" href="/static/css/sc-player-standard.css" />

<link href='http://fonts.googleapis.com/css?family=Iceberg' rel='stylesheet' type='text/css'>

<!-- Javascript includes -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/coin-slider/coin-slider.js"></script>
<script type="text/javascript" src="/static/js/lib/jquery.nicescroll.min.js"></script>

<script type="text/javascript" src="/static/js/sc/soundcloud.player.api.js"></script>
<script type="text/javascript" src="/static/js/sc/sc-player.js"></script>

<script type="text/javascript">

$(document).ready(function(){

    // Setup scrollbars
    $('#tourdates-content').niceScroll({
        autohidemode: false,
        disableoutline: true,
        preservenativescrolling: true
    });

    // Setup image slider
    $('#features').coinslider({ 
        hoverPause: false,
        width: 700,
        opacity: 1,
        delay: 10000
    });

    $('#social-fb').click(function() {
        document.location.href='http://www.facebook.com/zoogmaband';
        return false;
    });
    $('#social-tw').click(function() {
        document.location.href='http://twitter.com/zoogma';
        return false;
    });
    $('#social-gp').click(function() {
        document.location.href='http://www.google.com';
        return false;
    });
    $('#social-sc').click(function() {
        document.location.href='http://soundcloud.com/zoogmaband';
        return false;
    });


    $('#nav-home-link').click(function() {
        $.getJSON('/home/json', function(result) {
            replaceMainContent( formatHomeContent(result) );
            $(document).trigger('ready');
    // Setup image slider
    $('#features').coinslider({ 
        hoverPause: false,
        width: 700,
        opacity: 1,
        delay: 10000
    });


        });
        return false;
    });

    $('#nav-band-link').click(function() {
        $.getJSON('/band', function(result) {
            replaceMainContent( formatBandContent(result) );
        });
        return false;
    });

    $('#nav-shows-link').click(function() {
        $.getJSON('/shows', function(result) {
            replaceMainContent( formatShowsContent(result) );
        });
        return false;
    });

    $('#nav-news-link').click(function() {
        $.getJSON('/news/json', function(result) {
            replaceMainContent( formatNewsContent(result) );
        });
        return false;
    });

    $('#nav-gallery-link').click(function() {
        $.getJSON('/gallery', function(result) {
            replaceMainContent( formatGalleryContent(result) );
        });
        return false;
    });

    $('#nav-music-link').click(function() {
        $.getJSON('/music', function(result) {
            replaceMainContent( formatMusicContent(result) );
        });
        return false;
    });

    $('#nav-store-link').click(function() {
        $.getJSON('/store', function(result) {
            replaceMainContent( formatStoreContent(result) );
        });
        return false;
    });

    $('#nav-contact-link').click(function() {
        $.getJSON('/contact', function(result) {
            replaceMainContent( formatContactContent(result) );
        });
        return false;
    });
});

function replaceMainContent(innerContent) {
    $('#column_main').fadeOut('slow', function() {
        // Animation complete.
        // Start the new column_main element
        var content = "<div id='column_main'>";
    
        content += innerContent;

        // Closing out the column_main element
        content += "</div>";

        $('#column_main').replaceWith(content);

        $('#column_main').fadeIn('slow', function() {
            // Animation complete.
        });
    });

}
function formatHomeContent(jsonData) {
    alert("HERE");
    return '<div id="sliderHolder"> <div id="features"> <img class="slider-image" src="static/images/feature/campbiscoheader.jpg" /> <span class="slider-title"> <b>Zoogma to play this years camp bisco</b> </span> </div> </div>';

}
function formatBandContent(jsonData) {
    var ret = "<div id='band-info'><img src='static/images/zoogma-featured.png'/><div id='band-bio'><p>Zoogma combines the sonic diversity and precision of a DJ with the excitement and immediacy of a four piece rock group. Known for their energetic performances and retina pleasing light show, the band consistently dishes out heavy-weight beat-driven dance parties across the nation. Sets are kinetic, combining live improvisation with carefully crafted beats and melodic textures.</p>";
    ret += "<p>Evolving in Oxford, MS, Zoogma's sound is an eclectic fusion of Electronica, Rock, Jazz, World, and Hip-Hop. This blend of genres results in a musical experience that appeals to a range of audiences, with a sound that is refreshingly original yet steeped in the dance music tradition. With the release of their debut album, Recreational Vehicles, along with a relentless tour schedule, the four members have already added their unique voice to the live electronic-rock scene.</p></div>";
    return ret;
}
function formatShowsContent(jsonData) {
    return "<div stlye='background=red'>HERE WE ARE</div>";
}
function formatNewsContent(jsonData) {
    var ret = "<div id='news-main'>";
    ret += "<div id='news-heading'>";
    for (var i = 0; i < jsonData.news.length; i++) {
        var object = jsonData.news[i];
        ret +="<div id='news-heading'>" + object.title + "</div>";
        ret +="<div id='news-content'>" + object.story + "</div>";
        ret +="<br/>";
    }

    ret += "</div>";
    ret += "</div>";
    return ret;
}
function formatGalleryContent(jsonData) {
    return "<div stlye='background=red'>HERE WE ARE</div>";
}
function formatMusicContent(jsonData) {
    return "<div stlye='background=red'>HERE WE ARE</div>";
}
function formatStoreContent(jsonData) {
    return "<div stlye='background=red'>HERE WE ARE</div>";
}
function formatContactContent(jsonData) {
    return "<div stlye='background=red'>HERE WE ARE</div>";
}
</script>

<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Iceberg::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); 
</script>

</head>

<body>

<div id="container">
  <!-- begin header -->
  <div id="header">
    <div id="header-logo"></div>
    <div id="header-nav">

      <div id="header-nav-left"></div>

      <div id="header-nav-main">
        <ul>
          <li id="nav-home-link"></li>
          <li id="nav-band-link"></li>
          <li id="nav-shows-link"></li>
          <li id="nav-news-link"></li>
          <li id="nav-gallery-link"></li>
          <li id="nav-music-link"></li>
          <li id="nav-store-link"></li>
          <li id="nav-contact-link"></li>
        </ul>
      </div>
      <div id="header-nav-right"></div>
    </div>

    <div id="social-buttons">
      <ul>
        <li id="social-sc"><a href="http://soundcloud.com/zoogma"></a></li>
        <li id="social-gp"><a href="http://www.facebook.com/zoogmaband"></a></li>
        <li id="social-tw"><a href="http://twitter.com/zoogma"></a></li>
        <li id="social-fb"><a href="http://www.facebook.com/zoogmaband"></a></li>
        <li id="sc-player"><a href="http://soundcloud.com/zoogma" class="sc-player">My latest tracks</a></li>
      </ul>
    </div>

  </div>
  <!-- End Header -->

  <div id="main">

    <div id="tourdates">
      <div id="tourdates-header"></div>
      <div id="tourdates-body"></div>
      <div id="tourdates-content">
        <ol>
          [% FOREACH stop IN shows %]
          <li class="tourdate">
            <span class="tourdate-info tourdate-date">[% stop.date %]</span>
            <span class="tourdate-info tourdate-venue">[% stop.venue %]</span>
            <span class="tourdate-info tourdate-city_state">[% stop.city %]</span>
          </li>
          [% END %]
        </ol>
      </div>
    </div>
    <div id="column_main">

      [%~ content ~%]
    </div>
    <!-- Don't remove spacer div. Solve an issue about container height -->
    <div class="spacer"></div>
  </div>
  </div>
  <div id="footer">&copy Copyright 2012. ZOOGMA. All Rights Reserved</div>

</body>
</html>
