/* ------------------------------
HTML Redefine Tags
------------------------------ */
html{height:100%;}
body{height:100%;font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:0px; padding:0; background-color:#000000; }

input, form, textarea
h1, h2, h3, h4, h5, h6{margin:0; padding:0;}
h1{font-size:18px;}
h2{font-size:14px; color:#999999;}
h3{font-size:13px; border-bottom:solid 1px #DEDEDE; padding:4px 0; margin-bottom:10px;}
/* ------------------------------
HTML Redefine Tags
------------------------------ */

input, form, textarea
h1, h2, h3, h4, h5, h6{margin:0; padding:0;}
h1{font-size:18px;}
h2{font-size:14px; color:#999999;}
h3{font-size:13px; border-bottom:solid 1px #DEDEDE; padding:4px 0; margin-bottom:10px;}

a:link, a:visited{color:#0033CC;}
a:hover{text-decoration:none;}

ul{list-style-type:none;}

/* ------------------------------
PAGE STRUCTURE
------------------------------ */

/* #container has an absolute width (780 pixel) */

#container{width:100%; min-height:100%; margin-bottom:-30px; position:relative;}
/*#topbar{background: black url(/static/images/header.png) center no-repeat;width:auto; display:block; height:265px; background-color:#000000;}i */
#header{
  background: url(/static/images/header_bg.png) repeat-x left top;
  height: 265px;
  min-width: 1300px;
  margin: 0 auto;
}
#header-nav{
  width:1300px;
  height: 55px;
}
#header-nav-left{
  background: url(/static/images/header_nav_left.png);
  /*float: left;*/
  height: 48px;
  width: 570px;
  margin-top: 16px;
  z-index: 1;
  position: absolute;
}
#header-nav-main{
  /*float: left;*/
  height: 48px;
  margin-left: 522px;
  margin-top: -12px;
  z-index:2;
  width: 633px;
  position: absolute;
}
#header-nav-right{
  background: url(/static/images/header_nav_right.png);
  z-index: 1;
  width: 166px;
  height: 48px;
  margin-left: 1139px;
  margin-top: 9px;
  position: absolute;
}
#header-nav #header-nav-main ul li{
  /*width:46px;
  height:44px;
  background:url(/static/images/nav_sprites.png) 0 0;*/
  float: left;
}
#header-nav #header-nav-main ul li#nav-home-link{ 
  width:66px;
  height:48px;
  background:url(/static/images/nav_sprites.png) 0 0;
}
#header-nav #header-nav-main ul li#nav-home-link:hover{
  background:url(/static/images/nav_sprites.png) 0px 47px;
}
#header-nav #header-nav-main ul li#nav-band-link{ 
  width:66px;
  height:48px;
  background:url(/static/images/nav_sprites.png) 524px 0;
}
#header-nav #header-nav-main ul li#nav-band-link:hover{
  background:url(/static/images/nav_sprites.png) 524px 47px;
} 
#header-nav #header-nav-main ul li#nav-shows-link{ 
  width:78px;
  height:48px;
  background:url(/static/images/nav_sprites.png) 460px 0;
}
#header-nav #header-nav-main ul li#nav-shows-link:hover{
  background:url(/static/images/nav_sprites.png) 460px 47px;
} 
#header-nav #header-nav-main ul li#nav-news-link{ 
  width:66px;
  height:48px;
  background:url(/static/images/nav_sprites.png) 380px 0;
}
#header-nav #header-nav-main ul li#nav-news-link:hover{
  background:url(/static/images/nav_sprites.png) 380px 47px;
} 
#header-nav #header-nav-main ul li#nav-gallery-link{ 
  width:90px;
  height:48px;
  background:url(/static/images/nav_sprites.png) 316px 0;
}
#header-nav #header-nav-main ul li#nav-gallery-link:hover{
  background:url(/static/images/nav_sprites.png) 316px 47px;
} 
#header-nav #header-nav-main ul li#nav-music-link{
  width:66px;
  height:48px;
  background:url(/static/images/nav_sprites.png) 226px 0;
}
#header-nav #header-nav-main ul li#nav-music-link:hover{
  background:url(/static/images/nav_sprites.png) 226px 47px;
} 
#header-nav #header-nav-main ul li#nav-store-link{ 
  width:69px;
  height:48px;
  background:url(/static/images/nav_sprites.png) 160px 0;
}
#header-nav #header-nav-main ul li#nav-store-link:hover{
  background:url(/static/images/nav_sprites.png) 160px 47px;
} 
#header-nav #header-nav-main ul li#nav-contact-link{ 
  width:92px;
  height:48px;
  background:url(/static/images/nav_sprites.png) 91px 0;
}
#header-nav #header-nav-main ul li#nav-contact-link:hover{
  background:url(/static/images/nav_sprites.png) 91px 47px;
} 
#navbar{width:auto; display:block; height:28px;}
#navbar a{heigth:28px; line-height:28px; padding:0 8px; display:inline;}

#main{
  width:100%; 
  display:block; 
}
#tour-dates-col{
  width:200px; 
  margin-right:10px; 
  margin-left:160px; 
  background-color: #e8e8e8;
  float:left;
}
#column_main{width:160px; margin-right:20px; float:left;}
div.spacer{clear:both; height:30px; display:block;}

/*#footer{width:100%; display:block; padding:10px 0; font-size:11px; background-color:#161b1f;height:30px;position:relative; background-color:#161b1f;}*/
#footer { position:absolute;bottom:0;width:100%;height:60px;background:#161b1f;}

/* ------------------------------
CUSTOM CLASSES
------------------------------ */

/* Add here your custom classes ... */
