/* ------------------------------
HTML Redefine Tags
------------------------------ */
@font-face 
{
  font-family: "343";
  src: url('/static/fonts/343.ttf');
}
@font-face 
{
  font-family: "343";
  src: url('/static/fonts/343.eot');
}


html{height:100%;}
body{height:100%; font-family: '343'; font-size:12px; margin:0px; padding:0; background-color:#000000; }

@import url(http://fonts.googleapis.com/css?family=Iceberg);

input, form, textarea
h1, h2, h3, h4, h5, h6{margin:0; padding:0;}
h1{font-size:18px;}
h2{font-size:14px; color:#999999;}
h3{font-size:13px; border-bottom:solid 1px #DEDEDE; padding:4px 0; margin-bottom:10px;}
/* ------------------------------
HTML Redefine Tags
------------------------------ */

input, form, textarea
h1, h2, h3, h4, h5, h6{margin:0; padding:0;}
h1{font-size:18px;}
h2{font-size:14px; color:#999999;}
h3{font-size:13px; border-bottom:solid 1px #DEDEDE; padding:4px 0; margin-bottom:10px;}

a:link, a:visited{color:#0033CC;}
a:hover{text-decoration:none;}

ul, ol{list-style-type:none;}

/* ------------------------------
PAGE STRUCTURE
------------------------------ */

/* #container has an absolute width (780 pixel) */

#container{
  width:100%;
  height:100%;
  margin-bottom:-30px;
  position:relative;
  /*overflow-x:hidden;*/
}
/* ------------------------------
HEADER
------------------------------ */
#header{
  background: url(/static/images/header_bg2.png) no-repeat left top;
  background-repeat: repeat-x;
  width: 1343px;
  height: 265px;
  margin: 0 auto;
  background-size: 100%;
  position: absolute;
  overflow: hidden;
}
#header-logo{
  position: relative;
  top: 10px;
  height: 230px;
  width: 390px;
  left: 156px;
  background: url(/static/images/zoogma_logo2.png) no-repeat left top;
  z-index: 200;
}
/*** Header Nav ***/
#header-nav{
  width: 1300px;
  height: 63px;
  top:  -145px;
  position: relative;
  z-index: 100;
}
#header-nav-left{
  background: url(/static/images/header_nav_left.png);
  height: 48px;
  width: 570px;
  margin-top: 16px;
  z-index: 1;
  position: absolute;
}
#header-nav-main{
  height: 48px;
  margin-left: 522px;
  margin-top: -12px;
  z-index:2;
  width: 633px;
  position: absolute;
}
#header-nav-right{
  background: url(/static/images/header_nav_right.png);
  z-index: 1;
  width: 166px;
  height: 48px;
  margin-left: 1136px;
  margin-top: 10px;
  position: absolute;
}
#header-filler-right{
  background: url(/static/images/header_nav_filler_right.png);
  background-repeat: repeat-x;
  z-index: 1;
  width: 55px;
  height: 48px;
  margin-left: 1300px;
  margin-top: -243px;
  position: absolute;
}
#header-nav #header-nav-main ul li{
  float: left;
}
#header-nav #header-nav-main ul li:hover{
  cursor: pointer;
}
#header-nav #header-nav-main ul li#nav-home-link{ 
  width:64px;
  height:48px;
  background:url(/static/images/nav_sprites.png) 0 0;
}
#header-nav #header-nav-main ul li#nav-home-link:hover{
  background:url(/static/images/nav_sprites.png) 0px 47px;
}
#header-nav #header-nav-main ul li#nav-band-link{ 
  width:63px;
  height:48px;
  background:url(/static/images/nav_sprites.png) 525px 0;
}
#header-nav #header-nav-main ul li#nav-band-link:hover{
  background:url(/static/images/nav_sprites.png) 525px 47px;
} 
#header-nav #header-nav-main ul li#nav-shows-link{ 
  width:79px;
  height:48px;
  background:url(/static/images/nav_sprites.png) 462px 0;
}
#header-nav #header-nav-main ul li#nav-shows-link:hover{
  background:url(/static/images/nav_sprites.png) 462px 47px;
} 
#header-nav #header-nav-main ul li#nav-news-link{ 
  width:66px;
  height:48px;
  background:url(/static/images/nav_sprites.png) 383px 0;
}
#header-nav #header-nav-main ul li#nav-news-link:hover{
  background:url(/static/images/nav_sprites.png) 383px 47px;
} 
#header-nav #header-nav-main ul li#nav-gallery-link{ 
  width:90px;
  height:48px;
  background:url(/static/images/nav_sprites.png) 316px 0;
}
#header-nav #header-nav-main ul li#nav-gallery-link:hover{
  background:url(/static/images/nav_sprites.png) 316px 47px;
} 
#header-nav #header-nav-main ul li#nav-music-link{
  width:66px;
  height:48px;
  background:url(/static/images/nav_sprites.png) 226px 0;
}
#header-nav #header-nav-main ul li#nav-music-link:hover{
  background:url(/static/images/nav_sprites.png) 226px 47px;
} 
#header-nav #header-nav-main ul li#nav-store-link{ 
  width:69px;
  height:48px;
  background:url(/static/images/nav_sprites.png) 160px 0;
}
#header-nav #header-nav-main ul li#nav-store-link:hover{
  background:url(/static/images/nav_sprites.png) 160px 47px;
} 
#header-nav #header-nav-main ul li#nav-contact-link{ 
  width:92px;
  height:48px;
  background:url(/static/images/nav_sprites.png) 91px 0;
}
#header-nav #header-nav-main ul li#nav-contact-link:hover{
  background:url(/static/images/nav_sprites.png) 91px 47px;
} 
/*** End Header Nav ***/
/* ------------------------------
END HEADER
------------------------------ */

/*** Social Buttons ***/
#social-buttons {
  height: 30px;
  top:  -185px;
  right: 100px;
  position: relative;
  float: right;
  z-index: 100;

}
#social-buttons ul li{
  float: right;
  margin-right: 15px;
}

#social-buttons ul li#social-fb{
  background:url(/static/images/facebook.png);
  width:29px;
  height:28px;
  text-indent:-9009px;
  margin-top: 7px;
  cursor: pointer;
}
#social-buttons ul li#social-tw{
  background:url(/static/images/twitter.png);
  width:29px;
  height:28px;
  margin-top: 7px;
  cursor: pointer;
}
#social-buttons ul li#social-gp{
  background:url(/static/images/googleplus.png);
  width:29px;
  height:28px;
  margin-top: 7px;
  cursor: pointer;
}
#social-buttons ul li#social-sc{
  background:url(/static/images/soundcloud.png);
  width:29px;
  height:28px;
  margin-top: 7px;
  cursor: pointer;
}
/*** End Social Buttons ***/

/*** Player ***/
.jp-audio{
  margin-left: auto;
  margin-right: auto;
}
#audio-player{
  background:url(/static/images/player_bg.png) no-repeat;
  width:364px;
  height:45px;
  position: relative;
  margin-left: 580px;
  top: -127px;
}
#audio-player .sc-player .sc-controls a.sc-play, #sc-player .sc-player .sc-controls a.sc-pause{
  left: 120px;
  top: -8px
}
#audio-player .sc-player .sc-info h3{
  left: 217px;
  top: 11px;
  height: 7px;
  overflow: hidden;
  
}
/*** End Player ***/

/*** Scrollbars ***/
#ascrail2000{
  left: 175px !important;
  background-color: #d0d0d0;
  width: 5px !important;
  border-radius: 23px;
  height: 397px !important;
  top: 362px !important;
  z-index: 1001 !important;
}
#ascrail2000 div{
  background:url(/static/images/slider_icon.png) 0 0;
  height: 14px !important;
  width: 14px !important;
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
  margin-left: -4px !important;
  float: none !important;
  margin-top: 15px !important;
}
/*** End Scrollbars ***/

/*** Tour Dates ***/
#tourdates{
  background-color: white;
  position: relative;
  left: 163px;
  top: -67px;
  height: 500px;
  width: 226px;
  float: left;
}
#tourdates-header{
  width: 231px;
  height: 168px;
  position: absolute;
  margin-top: -75px;
  margin-left: -5px;
  background:url(/static/images/tourdates_header2.png);
}
#tourdates-content{
  position: relative;
  top: 15px;
  height: 400px;
  overflow: auto;
  top: 88px;
}
#tourdates-content #jspPane{
 height: 375px !important;
}
#tourdates-content ol{
  height: 375px !important;
}
.tourdate{
  width: 160px;
  min-height: 54px;
  margin-bottom: 7px;
}
.tourdate-info{
  display: block;
}
/*** End Tour Dates ***/

/*** Home Page ***/
#sliderHolder {
  padding:5px;
  margin-top:-51px;
  width:700px;
  height:650px;
}
.coin-slider{
  height:600px;
}
#sliderHolder .cs-title{
  background-color:black !important;
  opacity:0.5 !important;
  height:22px !important;
  width: 680px;
}
#cs-content-features {
  top:325px !important;
  color: white;
}
#cs-buttons-features {
  display:none !important;
}
#coin-slider-features.coin-slider{
  border:none;
  width:712px;
}
#features{
  height: 290px !important;
  border:3px white solid;
}
.slider-content{
  color: white;
}
/*** End Home Page ***/

/*** Band Page ***/
#band-info{
  background-color: #FFFFFF;
  padding: 5px; 
  margin-top: -50px; 
  width: 700px;
}

#band-info img {
  display:block; /*images must be set to block in order use auto margins*/
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#band-bio {
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#band-bio p {
  display: block;
}
/** END BAND PAGE **/

/** BEGIN NEWS PAGE **/
#news-main{
  background-color: #FFFFFF;
  padding: 5px; 
  margin-top: -50px; 
  width: 700px;
}

#news-heading {

}

#news-content {

}

#news-content p {
  display: block;
}

/** END NEWS PAGE **/
/** GALLERY PAGE **/
#gallery{
  width: 100%;
  margin-top: -95px;
}
a.gallery-image-link{
  display: inline-block;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
}
a img.gallery-image{
  display: inline-block;
  max-width: 200px;
  max-height: 100px;
}
/** END GALLERY PAGE **/

#navbar{width:auto; display:block; height:28px;}
#navbar a{heigth:28px; line-height:28px; padding:0 8px; display:inline;}

#main{
  width:1343px; 
  display:block; 
  position: relative;
  top: 332px;
}
#tour-dates-col{
  width:200px; 
  margin-right:10px; 
  margin-left:160px; 
  background-color: #e8e8e8;
  float:left;
}
#column_main{
    width:760px; 
    margin-right:20px; 
    float:left;
    position: relative;
    left: 180px;
}
#column_main h2{
  margin-bottom: 7px;
}
div.spacer{clear:both; height:30px; display:block;}

#footer { bottom:0;width:100%;height:30px;background:#161b1f; margin-top:50px; text-align: center;}

/* ------------------------------
CUSTOM CLASSES
------------------------------ */

/* Add here your custom classes ... */
