.sc-artwork-list { 
  display: none;
}

.sc-info {
  /*display: none;*/
}

.sc-trackslist {
  display: none;
}

.sc-scrubber {
  display: none;
}

.sc-player a {
  text-decoration: none;
  color: #333;
}

.sc-player .sc-controls a {
  height: 100px;
  color: transparent;
}

.sc-player.playing .sc-controls a.sc-play{
  display: none;
  }

.sc-player.playing .sc-controls a.sc-pause{
  display: block;
}

.sc-player .hidden {
  display: none;
}

.sc-player .sc-controls a.sc-play {
  background:url(/static/images/play.png);
  position: absolute; 
  height: 60px;
  width: 66px;
  left: 160px;
  top: 4px;
}

.sc-player .sc-controls a.sc-pause{
  background:url(/static/images/pause.png);
  position: absolute; 
  height: 60px;
  width: 66px;
  left: 160px;
  top: 4px;
}

.sc-player .sc-controls a.sc-prev{
/*
  background:url(/static/images/pause.png);
  position: absolute; 
  height: 60px;
  width: 66px;
  left: 160px;
  top: 4px;
  */
}

.sc-player .sc-controls a.sc-next{
/*
  background:url(/static/images/pause.png);
  position: absolute; 
  height: 60px;
  width: 66px;
  left: 160px;
  top: 4px;
  */
}

.sc-player .sc-info h4,p { display: none;}
.sc-player .sc-info .sc-info-close { display: none;}
.sc-player .sc-info-toggle { display: none;}

.sc-player .sc-info h3 {
  font-family: 'Iceberg', cursive;
  background:url(/static/images/track_bg.png);
  background-repeat: no-repeat;
  display: block;
  position: absolute; 
  height: 10px;
  width: 150px;
  left: 260px;
  top: 22px;
  border: none;
  font-size: 9px;
}

.sc-player .sc-info h3 a {
  color: #D8D4D4;
  text-align: center;
  margin-left: 5px;
  text-transform: uppercase;
  width: 98%;
  height: 98%;
}
